* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: black;
    color: yellowgreen;
}

.game {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

/* .title{
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
    display: flex;
    justify-content: space-between;
} */

.score {
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    gap: 2rem;
}

.p-count,
.c-count {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.options {
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 6rem;
    gap: 12px;
}

.rock,
.paper,
.scissor {
    padding: 1rem;
    width: 150px;
    border-radius: 20px;
    background: green;
    color: black;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.rock:hover,
.paper:hover,
.scissor:hover {
    background: red;

}

.move {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.m-left {
    font-size: 1.5rem;
}

@media screen and (max-width: 612px) {
    .title {
        text-align: center;
    }

    .score {
        position: absolute;
        top: 200px;
        width: 100vw;
    }

    .move {
        width: 100vw;
    }

    .options {
        width: 100vw;
    }
}

.players {
    margin-top: 3em;
}